<nav class="navbar navbar-expand-sm ">
    <div class="container">
        <a class="navbar-brand text-white fw-bolder" routerLink="/home">
            Notes
        </a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                @if(isloading()){
                    <li class="nav-item">
                        <a class="nav-link rounded-4" routerLink="/home" routerLinkActive="actives">Home</a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link rounded-4 " style="cursor: pointer;" (click)="onSignout()"  >SignOut</a>
                    </li>
                }
            
                @if(!isloading()){
                    <li class="nav-item">
                        <a class="nav-link rounded-4" routerLink="/login" routerLinkActive="actives">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded-4" routerLink="/register" routerLinkActive="actives">Register</a>
                    </li>
                }
            
            </ul>
        
        </div>
    </div>
</nav>
