<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto pt-5 pb-4">
            <form action="" [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="py-4 px-4 layer rounded-4 ">
                <h1 class="text-white text-center mb-4">
                    Create an account
                </h1>
                @if(errMsg()!==''){
                    <p class="p-1 text-danger">
                        * {{errMsg()}}
                    </p>
                }
                <div class="my-3">
                    <input type="text" formControlName="name" class="form-control" placeholder="Username">
                    @if(signupForm.get('name')?.errors && (signupForm.get('name')?.touched || signupForm.get('name')?.dirty)){
                        <div class="p-1 text-danger">
                            @if(signupForm.get('name')?.getError('required')){
                                <p>* Name is required</p>
                            }
                            @else if(signupForm.get('name')?.getError('minlength')){
                                <p>* Name is minlength 3</p>
                            }
                            @else {
                                <P>* Name is maxlength 20</P>
                            }
                        </div>
                    }
                </div>
                <div class="my-3">
                    <input type="text" formControlName="email" class="form-control" placeholder="Email Address">
                    @if(signupForm.get('email')?.errors && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)){
                        <div class="p-1 text-danger">
                            @if(signupForm.get('email')?.getError('required')){
                                <p>* Email is required</p>
                            }
                            @else if(signupForm.get('email')?.getError('email')){
                                <p>* Email is not valid 
                                </p>
                            }
                        </div>
                    }
                </div>
                <div class="my-3">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                    @if(signupForm.get('password')?.errors && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)){
                        <div class="p-1 text-danger">
                            @if(signupForm.get('password')?.getError('required')){
                                <p>* Password is required</p>
                            }
                            @else if(signupForm.get('password')?.getError('pattern')){
                                <p>* Password is not valid less than 6 
                                </p>
                            }
                        </div>
                    }
                </div>
                <div class="my-3">
                    <input type="text" formControlName="age" class="form-control" placeholder="Age">
                    @if(signupForm.get('age')?.errors && (signupForm.get('age')?.touched || signupForm.get('age')?.dirty)){
                        <div class="p-1 text-danger">
                            @if(signupForm.get('age')?.getError('required')){
                                <p>* Age is required</p>
                            }
                            @else if(signupForm.get('age')?.getError('pattern')){
                                <p>* Age is not valid 
                                </p>
                            }
                        </div>
                    }
                </div>
                <div class="my-3">
                    <input type="tel" formControlName="phone" class="form-control" placeholder="Phone">
                    @if(signupForm.get('phone')?.errors && (signupForm.get('phone')?.touched || signupForm.get('phone')?.dirty)){
                        <div class="p-1 text-danger">
                            @if(signupForm.get('phone')?.getError('required')){
                                <p>* Phone is required</p>
                            }
                            @else if(signupForm.get('phone')?.getError('pattern')){
                                <p>* phone accept only egypt phone number 
                                </p>
                            }
                        </div>
                    }
                </div>
                <div class="my-3">
                    <button type="submit" class="form-control bg-main border-0 text-white" [disabled]="signupForm.invalid || isloading()">
                        @if(!isloading()){
                            Create account
                        }
                        @if(isloading()){
                            <i class="fa-solid fa-spinner fa-spin"></i>
                        }
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>