/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$main-color: #bc7ff5;
$second-color: #9418fd;
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;;
}
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
}
.actives {
    background: linear-gradient(#9418fd, #571094);
    color: white !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}
.bg-main {
    background-color: $main-color !important;
}
.layer {
    background: rgba(255,255,255,0.1) !important;
    padding-top: 5rem;
}
button[type='submit']:hover {
    background-color: $second-color !important;
}